.ios,
.md {
    page-intro {
        ion-slide {
            background-color: #ededed;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        ion-slide img {
            height: 70vh !important;
            width: auto !important;
        }
        .description-field {
            border-top: 1px solid #aaa;
            text-align: center;
            p {
                font-size: 10px;
                font-weight: lighter;
                width: 100%;
            }
            h6 {
                width: 100%;
                text-transform: uppercase;
            }
        }
    }
    page-dashboard {
        .slide-zoom {
            height: 100%;
        }
        .allign-border {
            margin-bottom: -9.5px;
        }
        .slide-height {
            height: 200%;
        }
        .fixed-outside {
            background-color: #ededed;
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
        .buttonregister {
            height: 100%;
            margin: 0px;
            border-radius: 0px;
            color: "primary";
        }
        .buttonsignup {
            margin: 0px;
            border-radius: 0px;
            border-left: 1px solid #ededed;
            color: "primary";
        }
        .gridpadding {
            padding: 0;
        }
        .col1 {
            padding: 0;
        }
        .col2 {
            padding: 0;
            border-left: 0px;
        }
    }
}